# ipynb_checkpoints
.ipynb_checkpoints/
# private data
slack_data.csv
# ide settings
.vscode/
# other stuff
/dask-worker-space
# env vars
.env
# messages
conversation_history.csv
# py cache
__pycache__/
# model checkpoints
models/*
